{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
	<title>demo</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style type="text/css">
	 body
       {
       font: 400 15px Lato, sans-serif;
        font-family:sans-serif;
        font-size: 20px;
        background-image: url('/static/log.jpg');
       size: 100% 100%;
       

       }         
  	 .container
  	 {
  	 	margin-top: 180px;

  	 }
    
</style>
</head>
<body>
<div class="container"  >
	<div class="jumbotron" data-aos="zoom-in-up" style="background-color: transparent;box-shadow:0px 10px 20px black;">
	<form method="POST" action="{% url 'login' %}">
    {% bootstrap_form form %}
	{% csrf_token %}
<input type="submit" name="" class="btn btn-warning">
Don't have an account?<a href="{% url 'signup' %}" class="btn btn-info">Sign Up</a>
</form>
</div>
</div>
<script>
  AOS.init({
    duration:2000,
  });
</script>

</body>
</html>